
*{
margin: 0px auto;
padding: 0px;
font-family: 'Roboto', sans-serif;
}

/*FUENTES*/



.wrap {

    width: 1200px;
    margin: 0px auto;
}

/*CABECERA*/

#header {

    width:100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    color: blanchedalmond;
    text-decoration: none;
}

#apple {

    float: left;
    width: 20px;
    height: 50px;
    overflow: hidden;
    margin-top: 13px;
    margin-left: 220px;

}

#menu {

display: inline-block;
margin-left: 20px;
height: 70px;
background: transparent;

}

#menu ul li{

    font-size: 15px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    line-height: 70px;
    

}

#menu ul li a {
    
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms;
}

#menu ul li a:hover {

    color: turquoise;
}

#shopping {

    display: block;
    float: right;
    width: 20px;
    margin-right: 280px;
    margin-top: 12px;
    
}
#zoom {

    display: block;
    float: right;
    width: 20px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 13px;


}


.content {

margin: 0px auto;
margin-top: 10px;
text-align: center;
margin-left: 280px;
margin-right: 160px;
color: rgb(29,29,31);

}

.new {

    margin: 0px auto;
    margin-top: 10px;
    text-align: center;
    margin-left: 310px;
    font-size: 20px;
    color: red;
}

.category {

    margin: 0px auto;
    margin-right: 120px;
    text-align: center;
    color: rgb(29,29,31);
    font-size: 50px;
    font-weight: bold;

}

.style {

    margin: 0px auto;
    margin-top: 5px;
    margin-right: 100px;
    text-align: center;
    color: rgb(29,29,31);
    font-size: 30px;
    font-weight: bold;
}

.information {

    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 100px;
    text-align: center;
    color: rgb(29,29,31);
    
}



#button input[type="submit"] {

    display: block;
    text-align: center;
    position: absolute;
    margin-left: 585px;
    border:none;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    background-color:  rgb(0, 113, 227);
    cursor: pointer;
    color: floralwhite;
    font-size: 14px;
    
}

.link {

    display: block;
    text-align: center;
    color:rgb(0, 113, 227);
    margin-top: 70px;
    margin-right: 110px;
}

.image {

    display: block;
    width: 70%;
    height: 180px;
    margin-top: 20px;
   

}

#mac {

    width: 100%;
    height: 180px;
}

.accesories {

    
    margin-top: 40px;
    margin-left: 20px;
    width: 630px;
    height: 610px;
    background-color: rgb(242, 242, 242);
}

#allies {

margin: 0px auto;
text-align: center;
padding-top: 30px;
margin-top: 20px;
margin-bottom: 10px;
font-size: 20px;


}

#text {

    margin: 0px auto;
    text-align: center;
    font-size: 25px;
}


#watch input[type="submit"] {

    display: block;
    text-align: center;
    position: absolute;
    margin-left: 270px;
    margin-top: 20px;
    border:none;
    width: 70px;
    height: 40px;
    border-radius: 25px;
    background-color:  rgb(0, 113, 227);
    cursor: pointer;
    color: floralwhite;
    font-size: 15px;
    
}

.apple-tools {

display: block;
margin-top: 120px;
width: 630px;
height: 300px;



}

#trade {

    display: block;
    float: right;
    margin-top: -610px;
    margin-left: 5px;
    margin-right: 20px;
    width: 630px;
    height: 610px;
    background-color: rgb(242, 242, 242);
}

#mac-value {

margin: 0px auto;
text-align: center;
padding-top: 30px;
font-size: 20px;

}

#slogan {

    margin: 0px auto;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;   

}

#parragraph {

margin: 0px auto;
text-align: center;
margin-top: 15px;
font-size: 14px;

}

#calculate {

margin: 0px auto;
text-align: center;
margin-top: 10px;
font-size: 14px;
color: rgb(0, 113, 227);

}

.laptop {

    display: block;
    margin-top: 45px;
    width: 630px;
    height: 300px;

}

.deliver {

    display: block;
    text-align: center;
    margin-top: 90px;
    height: 40px;

}

#free {

margin: 0px auto;
text-align: center;
margin-top: 10px;
font-size: 14px;
font-weight: bold;
}

#date {

margin: 0px auto;
text-align: center;
margin-top: 10px;
font-size: 14px;
}

#i {

    margin: 0px auto;
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 113, 227);
    font-size: 14px;
}

#footer {

    margin-top: 40px;
    width: 100%;
    height: 120px;
    background-color: rgb(245, 245, 247);  

}

#privacity {
display:block-inline;
margin-left: 100px;
background: transparent;


}

#privacity ul li{

    font-size: 15px;
    display: inline-block;
    margin: 0px 10px 0px 10px;
    line-height: 40px;
    font-size: 10px;
    
    

}

.copy {

    padding-top: 20px;
    padding-left: 115px;
    color: rgb(81, 81, 84);
    font-size: 10px;

}

#privacity ul li a {

    font-size: 10px;
    color: rgb(81, 81, 84);
    text-decoration: none;
    
   

}

#privacity > ul > li > a:first-child{

    border-right: 1px solid rgb(167, 166, 166);
    padding-right: 12px;
}